<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-bottom: 15px; border-bottom: 3px solid #eeeeee;">
        <p style="font-size: 18px; font-weight: 800; line-height: 24px; color: #333333;">
            <singleline label="Introduction">Olá, <%= @user.name %>,</singleline>
        </p>

     </td>
  </tr>
  <tr>
    <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
        <p style="font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;">
          <singleline label="Paragraph 2">Sua senha de acesso foi atualizada com sucesso.</singleline>
        </p>
    </td>
  </tr>
</table>
