<!DOCTYPE html>
<html>
<head>
<title>Welcome, my dear!</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<style type="text/css">
    
/* CLIENT-SPECIFIC STYLES */
body, table, td, a { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
table, td { mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
img { -ms-interpolation-mode: bicubic; }

/* RESET STYLES */
img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; }
table { border-collapse: collapse !important; }
body { height: 100% !important; margin: 0 !important; padding: 0 !important; width: 100% !important; }

/* iOS BLUE LINKS */
a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
    .mobile-hide {
        display: none !important;
    }
    .mobile-center {
        text-align: center !important;
    }
    .mobile-table {
        width: 100% !important;
    }
}

/* ANDROID CENTER FIX */
div[style*="margin: 16px 0;"] { margin: 0 !important; }
</style>
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body style="margin: 0 !important; padding: 0 !important; background-color: #eeeeee;" bgcolor="#eeeeee">


<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" class="mobile-table">
                <tr>
                    <td align="center" align="top"; style="font-size:0; padding: 20px;background-image: url(http://www.tribie.me/img/img_bg_email2.png); " bgcolor="#fff">
                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="250" class="mobile-table">
                            <tr>
                                <td align="left" valign="top" style="font-family: 'Lato', sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;" class="mobile-center">
                                    <img editable label="Logo Footer" src="http://www.tribie.me/img/footer-logo2.png" width="130px" height="auto" style="display: block; border: 0px;"/>
                                </td>
                            </tr>
                        </table>
                    <tr>
                        <td lign="center"  style="padding-top: 15px; background-image: url(http://www.tribie.me/img/img_bg_email1.png);"> </td></tr>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 35px; background-color: #ffffff;" bgcolor="#ffffff">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td align="left" style="font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-bottom: 15px; ">
                                    <p style="font-size: 18px; font-weight: 400; line-height: 24px; color: #333333;">
                                        <singleline label="Introduction">Hi there,</singleline>
                                    </p>
                                    <p style="font-size: 16px; font-weight: 300; line-height: 24px; color: #777777;">
                                        <multiline label="Paragraph">It looks like you forgot your password! </multiline> </p> 

                                        <p style="font-size: 16px; font-weight: 300; line-height: 24px; color: #777777;"> <multiline label="Paragraph">If it was really you who asked to reset your password, just hit the button bellow. If you did not ask for that, just ignore this email and you will be fine!</multiline> </p>
          
                                    
                                    <p style="font-size: 16px; font-weight: 300; line-height: 24px; color: #777777;"> <multiline label="Paragraph">Thanks,<br> Tribie Team
                                            </multiline> </p>
                                    
                                 </td>
                            </tr>
                            <tr>

                            </tr>
                            <tr>
                                <td align="center" style="padding: 10px 0 25px 0;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="border-radius: 5px;" bgcolor="#974EB8">
                                              <singleline label="Call to Action"><a href="<%=@password_reset_url%>" target="_blank" style="font-size: 18px; font-weight: 300;font-family: 'Lato', sans-serif; color: #ffffff; text-decoration: none; border-radius: 5px; background-color: #974EB8; padding: 15px 30px; border: 1px solid #974EB8; display: block; ">Reset My Password</a></singleline>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td align="center" style=" padding: 10px;" bgcolor="#43C8C9">

                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding: 1px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">

                            <tr>
                                <td align="left" style="font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 300; line-height: 24px;">
                                    <multiline label="Unsubscribe Text">
                                        <p style="font-size: 11px; font-weight: 20; line-height: 14px; color: #777777;">
                                            You are receiving this email because you registered at Tribie . If you don't know what we're talking about, please click <a href="<%= @account_deactive_url %>" target="_blank" style="color: #777777;"><b>here</b></a>.
                                        </p>
                                    </multiline>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>

