<div class="row">
	<div class="bg1">
		<img class="resize" src="/img/img_welcome3.png" alt="Image Cow">
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<h1 class="animated bounceInDown">Thank you.</h1>
		<p class="animated fadeInUpDelay">
			We're sorry if we have disturbed you and thanks for letting us know.
		</p>
	</div>
</div>