<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
		<p class="animated fadeInUpDelay">
			Just type your new password and we're all set.
		</p>
		<% if defined?(@msg)%>
		<div class=" text-center">
			<h7>
				<%= @msg%>
			</h7>
		</div>
		<%end%>
	</div>
</div>

<%= form_tag(update_password_path(params[:token]), method:'put') do |f| %>
<div class="row">
	<div class="formpass">

		<h3>New Password</h3>
		<br>
		<%= password_field_tag :password, nil, autofocus: true, :class => "w3-input w3-border w3-round", :placeholder => "",  :required => "" %>
		<br>
		<h3> Repeat Password:</h3>
		<br>
		<%= password_field_tag :password_confirmation, nil, autofocus: true, :class => "w3-input w3-border w3-round", :placeholder  => "",  :required => "" %>

	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<%= submit_tag "Save Password", :class => "get-started-btn btnpadding"%>
	</div>
</div>
<% end %>