<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Tribie App</title>
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/flexslider.css" type="text/css">
		<link href="/css/styles.css?v=1.6" rel="stylesheet">
		<link href="/css/queries.css?v=1.6" rel="stylesheet">
		<link href="/css/jquery.fancybox.css" rel="stylesheet">
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!-- for Google -->
	    <meta name="description" content="Join the tribe who helps and get help from each other." />
	    <meta name="keywords" content="tribie, tribe, help, others, issue, tribers, best, match, app, application, gang, friends, fear, together, better, goal, colleague, buddies, outside, way, situation, support, privacy" />
	    <meta name="author" content="doisdoissete.">
	    <meta name="application-name" content="Tribie" />
	
	    <!-- for Facebook -->          
	    <meta property="og:title" content="Tribie" />
	    <meta property="og:type" content="product" />
	    <meta property="og:image" content="http://tribie.me/img/share_fb.png" />
	    <meta property="og:url" content="http://www.tribie.me" />
	    <meta property="og:description" content="Join the tribe who helps and get help from each other." />
	
	    <!-- for Twitter -->          
	    <meta name="twitter:card" content="summary" />
	    <meta name="twitter:title" content="Tribie" />
	    <meta name="twitter:description" content="Join the tribe who helps and get help from each other." />
	    <meta name="twitter:image" content="http://tribie.me/img/share_fb.png" />
	</head>
	<body>

		<section class="hero" id="hero">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<a href="http://www.tribie.me">
							<img src="/img/footer-logo.png">
						</a>
					</div>
				</div>
				<%= yield %>
			</div>
		</section>

		<!---footer--->
		<footer>
			<div id="footer" class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="http://www.tribie.me" class="badge-btn">Tribie</a>
						<p class="footer-credit">
							With love, Tribie team. | Developed by <a href="http://www.doisdoissete.com" target="blank">doisdoissete.</a>
						</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/js/jquery.fancybox.pack.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/scripts.js?v=1.7"></script>
		<script src="/js/jquery.flexslider.js"></script>
		<script src="/js/jquery.smooth-scroll.js"></script>
		<script src="/js/modernizr.js"></script>
		<script src="/js/waypoints.min.js"></script>
	</body>
</html>